*/__pycache__/*
env/*
.DS_Store
.coverage
*.pyc


# coverage run --source=diffusion2d.py,tests/unit/test_diffusion2d_functions.py,tests/integration/test_diffusion2d.py -m pytest && coverage html --include=diffusion2d.py,tests/unit/test_diffusion2d_functions.py,tests/integration/test_diffusion2d.py